* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
    filter: brightness(78%);
}

nav ul {
    float: right;
    margin-right: 20px;
    cursor: default;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: default;
}

#logo {
    color: white;
    font-family: "Gotham Rounded";
    font-size: 45px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

a.active {
    background: rgb(185, 0, 0);
    color: white;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

#section {
    background: rgb(54, 53, 53);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
    display: flex;
    filter: brightness(78%);
}

#confirm {
    width: 380px;
    height: 230px;
    background: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -55%);
    box-sizing: border-box;
}

#confirm p {
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;
    top: 15%;
    cursor: default;
}

button {
    color: white;
    background-color: rgb(54, 53, 53);
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    top: 28%;
    left: 18%;
    margin: 18px;
}

button:hover {
    filter: brightness(78%);
    cursor: pointer;
}

#yes {
    background-color: rgb(185, 0, 0);
}