* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
    cursor: default;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#logo {
    color: white;
    font-family: "Gotham Rounded";
    font-size: 45px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

a.active, a:hover {
    background: rgb(185, 0, 0);
}

#delete {
    color: red; /* Intentionally a brighter red */
}

#delete:hover {
    color: white;
    background: rgb(185, 0, 0);
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: rgb(185, 0, 0);;
    }
}

section {
    background: rgb(54, 53, 53);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
    display: flex;
}

.card {
    width: 330px;
    height: 500px;
    box-shadow: -1px 0 10px black;
    align-items: center;
    background-color: white;
}

.card #pic-div {
    width: 100%;
    height: 44%;
    display: flex;
    border-bottom: solid black;
}

.card #pic-div img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

#upload-pic {
    display: none;
}

#upload-btn {
    width: 330px;
    height: 40px;
    position: absolute;
    bottom: 357px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none
}

.card h2 {
    width: 100%;
    height: 7%;
    cursor: default;
}

.card textarea {
    background: transparent;
    width: 100%;
    height: 49%;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
    outline: none;
    resize: none;
}

#save-profile {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

#save-profile:hover {
    filter: brightness(78%);
}

#saved {
    color: white;
}

#profile:hover {
    cursor: pointer;
}