<body>
    <nav id="nav">
        <label id="logo">catphish</label>
        
        <ul>
            <li><a id="profile" [routerLink]="['/profile', this.username]">Profile</a></li>
            <li><a id="match" [routerLink]="['/match', this.username]">Match</a></li>
            <li><a id="matches" class="active" (click)="this.reload()">Matches</a></li>
            <li><a id="signout" [routerLink]="['/']">Sign Out</a></li>
            <li><a id="delete" [routerLink]="['/delete', this.username]">Delete</a></li>
        </ul>
    </nav>

    <section id="section">
    </section>
    <div id="empty"></div>
</body>