<body>
    <nav>
        <label id="logo" class="logo">catphish</label>
        <ul>
            <li><button id="signin" type="button" (click)="this.configureSignIn()">Log in</button></li>
        </ul>
    </nav>

    <section>
        <h1 id="slogan">Go Phish®</h1>

        <div id="signup-div">
            <button id="signup" type="button" (click)="this.configureSignUp()">Create account</button>
        </div>

        <div id="popup">
            <h1 id="popup-header"></h1>

            <form>
                <label id="popup-times" class="fa fa-times" (click)="this.closePopup()"></label>
                <p style="cursor: default;">Username</p>
                <input type="text" id="popup-username" placeholder="Enter username">
                <p style="cursor: default;">Password</p>
                <input type="password" id="popup-password" placeholder="Enter password">
                <button id="popup-submit" type="button" (click)="this.validate()">Submit</button>
                <div id="popup-error"></div>
            </form>
        </div>
    </section>
</body>